{% extends "layout.html" %}
{% block content %}
<div class="progress">
  <div class="progress-bar" style="width: 60%;"></div>
</div>
<center><h2> You have 230 credits remaining </h2></center>

<!-- Table for active stuff -->
<br><br><br>
<h3>Your active advertisements</h3>
<div id="table">
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Budget Remaining</th>
      <th>People Reached</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>

</div>

<!-- Table ends -->

{% endblock %}